@tailwind base;
@tailwind components;
@tailwind utilities;


.btnLeft{
  padding: 9px 16px;
  background-color: #ea580c;
  text-transform: capitalize;
  color: white;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  border-radius: 4px;
}

.btnLeft:hover{
  background-color: #f97316;
}

.btnRight{
  padding: 9px 16px;
  border: 1.5px solid #ea580c; 
  background-color: #FFFFFF;
  text-transform: capitalize;
  color: #F97316;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  border-radius: 4px;
}
.btnRight:hover{
  background-color: #f3f4f6;
}

.btnRemove{
  padding: 4px 6px;
  background-color: white;
  color: #3730a3;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  font-size: 10px;
  border-radius: 4px;
  border: 1.5px solid indigo;
}

.btnRemove:hover{
  background-color: #F0F3F4;
}

.inputBox{
  padding: 9px 16px;
  border: 1.5px solid #ea580c;
  border-radius: 4px;
 }

.inputBox:focus {
  outline: 1.5px solid #FFA500;
  background-color: #FFEBCC;
}

.formStyle {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: auto;
  border: 1.5px solid #ea580c; 
  padding: 36px; 
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); 
  border-radius: 0.375rem; 
}


body {
  background: white;
}
